<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- sweetalert js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.5/dist/sweetalert2.all.min.js"></script>

</head>
<style>


  body {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
     padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 330px;
      padding-right: 350px;
      text-align: justify;

  }

  header {
      

font-weight: bold;
      font-size: 39px;
      text-shadow: 3px 3px 3px mediumpurple;
     
      position: fixed;
      left: 20px;
      top: 10px;


  }

   #errorMessageContainer {
      color: red;
      font-size: 17px;
      text-align: center;

  }


.button:hover[value = "next"]{
    background-color: #8d5da7 ;
    border-color: #8d5da7 ;
}

  input[name="in"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      
      height: 50px;
      width: 330px;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;

      border-radius: 120px;


      padding-left: 18px;
      padding-right: 18px;

      position: fixed;
      left: 550px;
      top: 200px;

  }

  input[name="q"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;

      height: 50px;
      width: 330px;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;

      border-radius: 120px;


      padding-left: 18px;
      padding-right: 18px;

      position: fixed;
      left: 550px;
      top: 310px;

  }

   .card[value = "SignUp"] {
  width: 850px;
  height: 650px;
  border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 8px 8px 8px Thistle; 
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
}

  .card-content[value= "SignUp"]{
       padding-top: 20px;
    display: flex;
     flex-direction: column;

}


 .card-content[value= "SignUp"] h3 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 33px;
      text-shadow: 
          0px 2px 3px mediumpurple;
    padding-top: 16px;
    text-align:center;
    


}

.card-content[value= "SignUp"] p1 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 20px;


}

.card-content[value= "SignUp"] p3{
    margin-left: 261px;
}
.card-content[value= "SignUp"] p4 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
    text-align:center;
    
}

.card-content[value= "SignUp"] p4 a {
   color:mediumpurple;
      
    
}

  input[name="name"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      height: 50px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

  input[name="em"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
    
      height: 50px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;


      padding-left: 18px;
      padding-right: 18px;

  }

  input[name="p"]{
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;

      height: 50px;
       width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;


      padding-left: 18px;
      padding-right: 18px;


  }

  input[name="cp"]{
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
    background-color: <%=theme==='Light' ? 'white': 'black' %>;

      height: 50px;
     width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

  .button[value="Light"] {
      color: black;
      background-color: white;
      height: 45px;
      width: 200px;
      border: 3px solid white;
      border-radius: 120px;
      position: fixed;
      left: 538px;
      top: 400px;
      
  }

  .button[value="Dark"] {
      color: white;
      background-color: black;
      height: 45px;
      width: 200px;
      border: 4px solid white;
      border-radius: 120px;
      position: fixed;
      left: 750px;
      top: 400px;

  }


 
  .button[value="SignUp"] {
      color: <%=theme==='Light' ? 'white': 'black' %>;
    margin: auto;
    font-weight: bold;
      background-color: mediumpurple;
      height: 40px;
      width: 48%;
      border:4px solid mediumpurple;
      border-radius: 10px;
      align-items: center;
  
  }

  .button[value="back"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
    font-weight: bold;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      height: 40px;
      width: 200px;
      border: 1px  solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      align-items: center;
       margin: auto;
  
  
  }



  .button[value="logout"] {
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      height: 40px;
      width: 80px;
      border:4px solid mediumpurple;
      border-radius: 120px;
      position: fixed;
      right: 400px;
      top: 50px;
      padding-top: 5px;
  }


  .card {
  width: 850px;
  height: 590px;
  border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 8px 8px 8px Thistle; 
  top: 80px ;
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
}

.card-content {
 
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;

  
}

.card-content[value= "profile"] h3 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 50px;
      text-shadow: 
          0px 2.8px 3px mediumpurple;
    padding-top: 16px;

}

.card-content[value= "profile"] p1 {
  color:<%=theme==='Light' ? 'black': 'white' %>;
  font-weight: bold;
      font-size: 20px;
}

.card-content[value= "profile"] p2{
  color:<%=theme==='Light' ? 'black': 'white' %>;
  
      font-size: 19px;
}

input[name="FullName"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;

      height: 50px;
      width: 99%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;

      border-radius: 10px;
    

      padding-left: 18px;
      padding-right: 18px;

  }

  .card-content[value= "profile"] p3{
  color:<%=theme==='Light' ? 'black': 'white' %>;
  font-weight: bold;
      font-size: 25px;
}

  input[name="EmailID"] {

      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      height: 50px;
      width: 99%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;

      border-radius: 10px;
    

      padding-left: 18px;
      padding-right: 18px;

  }

   .button[value="next"] {
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight:bold;
       height: 40px;
      width: 24%;
      border:4px solid mediumpurple;
      border-radius: 10px;
   

     margin: 0 auto;
     display: block; 
      
  }

  .button:hover[value = "next"] {
  border-color:  plum;
  color: plum;
}

.card-content[value= "basics"] h3 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 50px;
      text-shadow: 0px 0px mediumpurple,
          0px 2.5px 3px mediumpurple;
          padding-top: 16px;

}

.card-content[value= "basics"] p1 {
  color:<%=theme==='Light' ? 'black': 'white' %>;
  font-weight: bold;
      font-size: 20px;
}

.card-content[value= "basics"] p2{
  color:<%=theme==='Light' ? 'black': 'white' %>;
      font-size: 19px;
}

input[name="City"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      
      height: 50px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

  .card-content[value= "basics"] p3{
  color:<%=theme==='Light' ? 'black': 'white' %>;
  font-weight: bold;
      font-size: 20px;
}

input[name="City"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
   
      height: 50px;
      width: 45%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }
  input[name="Country"]{
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
   
      height: 50px;
      width: 45%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

 input[name="ZIP"]
   {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
    
      height: 50px;
      width: 45%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

  input[name="PhoneNumber"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
  
      height: 50px;
      width: 45%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }


  textarea[name="background"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;

      height: 90px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }
  
.flex-container {
    display: flex;
    justify-content: space-between; 
}

.flex-container input {
    width: 48%;
}

.flex-container .button {
    width: 48%;
}

 .card-content[value= "basics"] p5 {
    margin-left: 383px; 
}
.card-content[value= "basics"] p7 {
    margin-left: 259px;
}

.button[value="Add"] {
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight:bold;
      height: 40px;
      width: 48%;
      border:4px solid mediumpurple;
      border-radius: 10px;

     margin: 0 auto;
     display: block; 
      
  }
  .button:hover[value = "Add"] {
 border-color:  plum;
}


.card[value = "addExperience"] {
  width: 850px;
  height: 950px;
  border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 8px 8px 8px  Thistle ; 
  top: 80px ;
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
}

input[name="JobTitle"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
  
      height: 50px;

      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

  input[name="Employer"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
  
      height: 50px;

      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

  .card-content[value= "addExperience"] h3 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 50px;
      text-shadow: 
          0px 2.8px 3px mediumpurple;
    padding-top: 16px;

}
  .card-content[value= "addExperience"] p1 {
  color:<%=theme==='Light' ? 'black': 'white' %>;
  font-weight: bold;
      font-size: 20px;
}

.card-content[value= "addExperience"] p2{
  color:<%=theme==='Light' ? 'black': 'white' %>;
  
      font-size: 19px;
}

  .card-content[value= "addExperience"] p3{
  color:<%=theme==='Light' ? 'black': 'white' %>;
  font-weight: bold;
      font-size: 20px;
}

input[name="State"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
    
      height: 50px;

      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

  input[name="CountryExperience"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
     
      height: 50px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

 

   select[id="monthsSD"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
    
      height: 50px;
 width:24%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }
  select[id="yearsSD"]{
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      backg3ound-color: <%=theme==='Light' ? 'white': 'black' %>;
     
      height: 50px;
    width:23%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

   select[id="monthsED"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
    
      height: 50px;
 width:24%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }
   select[id="yearsED"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      backg3ound-color: <%=theme==='Light' ? 'white': 'black' %>;

      height: 50px;
    width:23%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }



     .card-content[value= "addExperience"] p5 {
    margin-left: 341px; 
}
.card-content[value= "addExperience"] p7 {
    margin-left: 291px;
}
.card-content[value= "addExperience"] p9 {
    margin-left: 322px;
}
.card-content[value= "addExperience"] p11 {
    margin-left: 2.9px;
}

.card-content[value= "addExperience"] p12 {
    margin-left:29px;
}
.card-content[value= "addExperience"] p13 {
    margin-left: 2.6px;
}

 textarea[value = "Achievements"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      height: 150px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }



  input[name="SchoolName"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
     
      height: 50px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }
  input[name="Degree"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
    
      height: 50px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

  input[name="FieldOfStudy"]{
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
   
      height: 50px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

  .card[value = "addEducation"] {
  width: 850px;
  height: 1050px;
  border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 8px 8px 8px  Thistle; 
  top: 80px ;
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
}


  .card-content[value= "addEducation"] h3 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 50px;
      text-shadow: 
          0px 2.8px 3px mediumpurple;
    padding-top: 16px;

}
  .card-content[value= "addEducation"] p1 {
  color:<%=theme==='Light' ? 'black': 'white' %>;
  font-weight: bold;
      font-size: 20px;
}

.card-content[value= "addEducation"] p2{
  color:<%=theme==='Light' ? 'black': 'white' %>;
  
      font-size: 19px;
}

  .card-content[value= "addEducation"] p3{
  color:<%=theme==='Light' ? 'black': 'white' %>;
  font-weight: bold;
      font-size: 20px;
}

.card-content[value= "addEducation"] p7 {
    margin-left: 340px;
}

.card-content[value= "addEducation"] p9 {
    margin-left: 322px;
}
.card-content[value= "addEducation"] p11 {
    margin-left: 2.9px;
}

.card-content[value= "addEducation"] p12 {
    margin-left:29px;
}
.card-content[value= "addEducation"] p13 {
    margin-left: 2.6px;
}

 .card[name="progress"] {
  width: 850px;
  height: 100px;
  border: 0px ;
  border-radius: 10px;
  overflow: hidden;
   box-shadow: 0px 0px 0px   ; 
    position: absolute;
  top: 40px ;
  text-align: center;
  
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
}

 .circle[name = ""] {
        color: <%=theme==='Light' ? 'black': 'white' %>;
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 100%; 
            border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;
            
        }

.circle[name = "completed"] {
        color: <%=theme==='Light' ? 'black': 'white' %>;
            background-color: mediumseagreen;
            width: 50px;
            height: 50px;
            border-radius: 100%; 
            border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;
            
        }
        .circle[name = "current"] {
        color: <%=theme==='Light' ? 'black': 'white' %>;
            background-color: mediumpurple;
            width: 50px;
            height: 50px;
            border-radius: 100%; 
            border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;
            
        }

    .card[value = "homepage1"] {
        width: 600px;
        height: 600px;
        border: 0px ;
        border-radius: 0px;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        top: 30px ;
        box-shadow: 0px 0px ;  
        color: <%=theme==='Light' ? 'black': 'white' %>;
        background-color:  <%=theme==='Light' ? 'white': 'black' %>;
        }

.card[value = "homepage2"] {
        width: 600px;
        height: 600px;
        border: 0px ;
        border-radius: 0px;
        overflow: hidden;
      box-shadow: 0px 0px ;  
       top: 30px ;
            color: <%=theme==='Light' ? 'black': 'white' %>;
            background-color:  <%=theme==='Light' ? 'white': 'black' %>;
        }

.flex-container[value = "homepage"] .card {
    width: 48%;
}

.card-content[value = "homepage1"] {
 
  padding-left: 30px;
  padding-right: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
   
  
}

    .card-content[value= "homepage1"] h3 {
        color: <%=theme==='Light' ? 'black': 'white' %>;
        font-weight: bold;
        font-size: 30px;
    
        padding-top: 16px;

    }
    
.card-content[value= "homepage1"] p1{
  color:<%=theme==='Light' ? 'black': 'white' %>;
  
      font-size: 17px;
}

 .button[value="buildResume"] {
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight:bold;
      height: 45px;
      width: 200px;
      border:4px solid mediumpurple;
      border-radius: 10px;
     margin: 0 auto;
     display: block; 
      
  }

  .card-content[value = "homepage2"] {
 

    padding-top: 17px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:100%;
    display: flex;
    flex-direction: column;
   
  
}

 .step1 {
  width:95%;
  height: 150px;
  border: 2px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
    box-shadow: 6px 6px 8px  Thistle  ; 
     
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
}

.step2 {
  width:95%;
  height: 150px;
  border: 2px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
  
    box-shadow: 6px 6px 8px  Thistle ; 
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
}

.step3 {
  width:95%;
  height: 150px;
  border: 2px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
    box-shadow:6px 6px 8px Thistle; 
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
}

.card[value = "Download"] {
  width: 850px;
  height: 650px;
  border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 8px 8px 8px  Thistle ; 
  
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
}

  .card-content[value = "Download"] {
    padding-top: 0px;
    justify-content: center;
    text-align: center;
  
    display: flex;
    flex-direction: column;
   
  
}
 .card-content[value = "Download"] img {

   align-items: center;
   justify-content: center;
    text-align: center;
  
    display: flex;
    flex-direction: column;
   
  
}

.button[value="Save"] {
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight:bold;
      height: 40px;
      border:4px solid mediumpurple;
      border-radius: 10px;
  }


    .card-content[value= "jobDescription"]{
    display: flex;
     flex-direction: column;

}


 .card-content[value= "jobDescription"] h3 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 33px;
      text-shadow: 
          0px 2px 3px mediumpurple;
    padding-top: 16px;

    


}

.card-content[value= "jobDescription"] p1 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
   
      font-size: 20px;


}
.card-content[value= "jobDescription"] p4  {
   color: <%=theme==='Light' ? 'black': 'white' %>;
    text-align: center;
      font-size: 17px;
}

.card-content[value= "jobDescription"] p4 a {
    color: mediumpurple
}

  textarea[value = "jobDescription"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      height: 200px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

    .card-content[value= "LogIn"]{

    padding-top: 20px;
    display: flex;
     flex-direction: column;

}


 .card-content[value= "LogIn"] h3 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 33px;
      text-shadow: 
          0px 2px 3px mediumpurple;
    padding-top: 16px;
    text-align:center;
    


}

.card-content[value= "LogIn"] p1 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 20px;


}

.card-content[value= "LogIn"] p4{
   color: <%=theme==='Light' ? 'black': 'white' %>;
   text-align: center;
      font-size: 17px;


}

.card-content[value= "LogIn"] p4 a {
   color: mediumpurple;


}


 .button[value="LogIn"] {
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight: bold;
      height: 40px;
      width: 48%;
      border:4px solid mediumpurple;
      border-radius: 10px;
      align-items: center;
      margin: auto;

  }
  .card-content[value= "WorkHistory"]{
       padding-top: 20px;
    display: flex;
     flex-direction: column;

}

 .card-content[value= "workHistory"] h3 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 50px;
      text-shadow: 
          0px 2px 3px mediumpurple;
    padding-top: 16px;

    


}

.card-content[value= "workHistory"] p1 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
     font-weight: bold;
      font-size: 20px;


}

.card-content[value= "workHistory"] p1 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
   
      font-size: 20px;


}
    .card[value = "experience"] {
  width:100%px;
  height: 80px;
  border: 1.5px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 0px Thistle; 

     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
}

.flex-container[value = "experience"]{
     display: flex;
  flex-wrap: wrap;
}

.card[value = "resume"]{
     height:auto;
    width:auto;
  border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 8px 8px 8px Thistle; 
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
     display: flex;
    
   
}

.card-content[value = "resume"]{
    padding-top: 1.9cm;
    padding-left:1.9cm;
   padding-right: 1.32cm;
    padding-bottom: 3.67cm;
      display: flex;
     flex-direction: column;
}

.card-content[value = "resume"] p1 {
     color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 18pt;
      font-weight:bold;
}

.card-content[value = "resume"] p2 {
     color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size:11pt;
      align-items: center;
      text-align: center;

}

.card-content[value = "resume"] p3 {
     color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size:11pt;
      text-align: justify;

}

.card-content[value = "resume"] p4 {
     color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size:14pt;
      font-weight: bold;

}

.card-content[value = "resume"] p5 {
     color: <%=theme==='Light' ? 'black': 'white' %>;
     font-weight:bold;
      font-size:11pt;
}

.card-content[value = "resume"] p6 {
     color: <%=theme==='Light' ? 'black': 'white' %>;
     font-weight:bold;
      font-size:9.5pt;
}
.card-content[value = "resume"] p7 {
     color: <%=theme==='Light' ? 'black': 'white' %>;
     
      font-size:11pt;
}


    .card-content[value= "skills"]{
    display: flex;
     flex-direction: column;

}


 .card-content[value= "skills"] h3 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
      font-weight: bold;
      font-size: 50px;
      text-shadow: 
          0px 2px 3px mediumpurple;
    padding-top: 16px;

    


}

.card-content[value= "skills"] p1 {
   color: <%=theme==='Light' ? 'black': 'white' %>;
   
      font-size: 20px;


}


  textarea[value = "skills"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      font-size: 20px;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      height: 350px;
      width: 100%;
      border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
      padding-left: 18px;
      padding-right: 18px;

  }

  .flex-container[value = "backAndNext"] {
    display : flex;
    justify-content: space-between; 
    
}

  .button[value="download"] {
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight:bold;
       height: 40px;
      width: 200px;
      border:4px solid mediumpurple;
      border-radius: 10px;
        position: fixed;

        top: 30px;
        right: 40px;

      
  }

  .button[value="sendToMail"] {
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight:bold;
       height: 40px;
      width: 200px;
      border:4px solid mediumpurple;
      border-radius: 10px;
        position: fixed;

         top: 80px;
        right: 40px;

      
  }


.button[value="backResumePDF"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: white;
      font-weight:bold;
       height: 40px;
      width: 200px;
      border:1px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
    position: fixed;
        top:10px;
        right: 40px;

      
  }

 
.templates{
  width: 850px;
  height: 650px;
  border: 0px ;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 0px Thistle; 
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;
    align-items: center;
    margin: auto;
}

 .flex-container[value = "templates"] {
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;


    display: flex;
    justify-content: space-between; 
}
.button[value="backTemplate" ]{
  
      color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: <%=theme==='Light' ? 'white': 'black' %>;
      font-weight:bold;
      height: 40px;
      width: 210px;
      border:1px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
     margin: 0 auto;
     display: block; 
     
      
 
}

.flex-container[value = "buttonsTemplates"]{
     display: flex;
    justify-content: space-between; 
}

.button[value="classicProfessional" ]{
  
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight:bold;
      height: 40px;
      width: 210px;
      border:4px solid mediumpurple;
      border-radius: 10px;
     margin: 0 auto;
     display: block; 
     
      
 
}

.button[value="modernProfessional" ]{
  
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight:bold;
      height: 40px;
      width: 210px;
      border:4px solid mediumpurple;
      border-radius: 10px;
     margin: 0 auto;
     display: block; 
      
 
}
.button[value="modernStudent" ]{
  
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight:bold;
      height: 40px;
      width: 210px;
      border:4px solid mediumpurple;
      border-radius: 10px;
     margin: 0 auto;
     display: block; 
}

.button[value="backResumePDF"] {
      color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: white;
      font-weight:bold;
       height: 40px;
      width: 200px;
      border:1px solid <%=theme==='Light' ? 'black': 'white' %>;
      border-radius: 10px;
        position: fixed;

        top: 80px;
        right: 40px;

      
  }

  .flex-container[value = "JobTitleAndDates"] {

    display: flex;
    justify-content: space-between; 
}

.flex-container[value = "steps"]{
     display: flex;
    justify-content: space-between; 
}

.step1Card{

    color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: grey;
      border:0px solid mediumpurple;
      border-radius: 120px;
      position: fixed;
      right: 250px;
      top: 180px;
      padding-top: 8px;
    height: 40px;
    width: 90px;

    background-color: thistle;
}

.step2Card{

    color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: grey;
      border:0px solid mediumpurple;
      border-radius: 120px;
      position: fixed;
      right: 250px;
      top: 378px;
      padding-top: 8px;
    height: 40px;
    width: 90px;

    background-color: thistle;
}

.step3Card{

    color: <%=theme==='Light' ? 'black': 'white' %>;
      background-color: grey;
      border:0px solid mediumpurple;
      border-radius: 120px;
      position: fixed;
      right: 250px;
      top: 576px;
      padding-top: 8px;
    height: 40px;
    width: 90px;

    background-color: thistle;
}

.checkbox{
    margin-left: 430px;
}

.error{
   margin-left: 388px;
}

.flex-container[value="resumeSkills"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
   
}


.flex-container[value="resumeSkills"] li {
  
    padding-right: 30px;
}

.downloadComplete{
    width: 850px;
    height: 600px;
     border: 3px solid <%=theme==='Light' ? 'black': 'white' %>;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 8px 8px 8px Thistle; 
     color: <%=theme==='Light' ? 'black': 'white' %>;
    background-color:  <%=theme==='Light' ? 'white': 'black' %>;

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}

 .button[value="gotoHomepage"] {
      color: <%=theme==='Light' ? 'white': 'black' %>;
      background-color: mediumpurple;
      font-weight:bold;
      height: 40px;
      width: 200px;
      border:4px solid mediumpurple;
      border-radius: 10px;
     margin: 0 auto;
     display: block; 
      
  }



</style>

<header>
    <nav class="navbar navbar-dark bg-black">
       SwiftHire
    </nav>
</header>
<body>

    <!-- bootstrap JS CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>

</html>