<%- include('layout', {theme}) %>

    <head>
        <!-- ... (your head content) ... -->
    </head>

    <body>
        <main>
            <button onclick="downloadAsPDF()" class="button" value="download">Download</button>
            <button onclick="takeBack()" class="button" value="backResumePDF">Back</button>
            <div class="card" value="resume">
                <div id="resume" class="card-content" value="resume">
                    <p1>
                        <%= profile.userName %>
                    </p1>
                    <p2>
                        <%= profile.emailID %>| <%= basics.phoneNumber %>
                                <br>
                                <%= basics.city %>, <%= basics.country %>, <%= basics.zip %>
                    </p2>
                    <br>
                    <p3>
                        <%= basics.background %>
                    </p3>
                    <br>
                    <p4>Skills</p4>
                    <%= skills.skills %>
                        <br>
                        <br>
                        <p5>Experience</p5>
                      
                        <% if (experiences.length> 0) { %>
                            <% for (let i=0; i < experiences.length; i++) { %>
                                <div>
                                    <div class = "flex-container" value = "JobTitleAndDates">
                                    <p3 style="color: <%= theme === 'Light' ? 'black' : 'white' %>; font-weight: bold; font-size: 18px;">
                                        <%= experiences[i].jobTitle %>

                                    </p3>
                                   
                                    <p6>
                                        <%= experiences[i].startDate.month %> <%= experiences[i].startDate.year %> - <%=
                                                    experiences[i].endDate.month %> <%= experiences[i].endDate.year %>
                                    </p6>
                                    </div>
                                   
                                    <p7>
                                        <%= experiences[i].employer %>, <%= experiences[i].city %> , <%= experiences[i].country %>
                                    </p7>
                                    <br>
                                   
                                    <%= experiences[i].achievements %>
                                </div>
                                <br>
                                <% } %>
                                    <% }  %>

                        <p8>Education</p8>

                        <% if (education.length> 0) { %>
                            <% for (let i=0; i < education.length; i++) { %>
                                <div>
                                    <div class="flex-container" value="JobTitleAndDates">
                                        <p3 style="color: <%= theme === 'Light' ? 'black' : 'white' %>; font-weight: bold; font-size: 18px;">
                                            <%= education[i].degree %> - <%= education[i].fieldOfStudy %>
                        
                                        </p3>
                                        <br>
                                        <br>
                                        <p7>
                                            <%= education[i].schoolName %>, <%=education[i].city %> , <%= education[i].country %>
                                        </p7>
                                        <br>
                                        <p6>
                                            <%= education[i].startDate.month %>
                                                <%= education[i].startDate.year %> - <%=education[i].endDate.month %>
                                                        <%= education[i].endDate.year %>
                                        </p6>
                                    </div>
                                    <br>
                                    
                                    <br>
                        
                                    <%= education[i].achievements %>
                                </div>
                                <br>
                                <% } %>
                                    <% } %>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </main>
    </body>
    <script>
        function downloadAsPDF() {
            const element = document.getElementById("resume");
            html2pdf().from(element).save();
        }

        function takeBack() {
            window.location.href = "/download";
        }
    </script>