<%- include('layout', {theme}) %>


    <body>
        <main>
        
            <form action = "/workHistory" method = "POST">
            <div class="card" style = "height: <%= 560 + (experiences.length * 90) %>px">
                <div class="card-content" value="workHistory" >
                    <h3>Experience</h3>
                    <p1>Work History</p1>
                    <br>
                    <p2>Add your most recent job and previous jobs </p2>
                   
                <% if (experiences.length> 0) { %>
               <div class = "flex-container" value = "experience">
                        <% experiences.forEach(function(experience) { %>
                            <div class="card" value = "experience">
                                <p3 style = "color: <%=theme==='Light' ? 'black': 'white' %>;
                                font-weight: bold;
                                font-size: 18px;">
                                <%= experience.jobTitle %></p3>
                                <p4><%= experience.employer%></p4>
                                <p5><%=experience.startDate.month %> <%=experience.startDate.year %> - <%= experience.endDate.month %> <%= experience.endDate.year%></p5>
                            
                            </div>
                            <br>
                                   
                            <% }); %>

                </div>
                    <% } %>
                        
                    <br>
                    <br>
                    <br><br>
                
                    <button type="button" onclick="addExperience()" value="Add" class="button">Add New</button>

                    <br>

                    <div class="flex-container" value="backAndNext">
                        <button id="backButton" onclick="takeBack()" type="button" value="back" class="button">Back</button>
                        <button id="nextButton" onclick= "educationHistory()" type="button" value="next" class="button">Next</button>
                    </div>
                   
                </div>
            </div>
            </form>



        </main>
    </body>
    <script defer>
        function addExperience() {
            window.location.href = "/addExperience";
        }

        function educationHistory() {
                window.location.href = "/educationHistory";
            }

        function takeBack(){
            window.location.href = "/skills";
        }


    </script>