<%- include('layout', {theme}) %>


    <body>
        <main>
        
            <form action = "/workHistory" method = "POST">
            <div class="card">
                <div class="card-content" value="workHistory">
                    <h3>Experience</h3>
                    <p1>Work History</p1>
                    <br>
                    <p2>Add your most recent job and previous jobs </p2>
                   
                <% if (experiences.length> 0) { %>
               <div class = "flex-container" value = "experience">
                        <% experiences.forEach(function(experience) { %>
                            <div class="card" value = "experience">
                                <p3><%= experience.jobTitle %></p3>
                                <p4><%= experience.employer%></p4>
                                <p5><%=experience.startDate.month %> <%=experience.startDate.year %> - <%= experience.endDate.month %> <%= experience.endDate.year%></p5>
                            
                            </div>
                            <br>
                                   
                            <% }); %>

                </div>
                    <% } %>
                        
                    <br>
                    <br>
                
                    <button type="button" onclick="addExperience()" value="Add" class="button">Add New</button>

                    <br>
                    <button type="button" onclick= "educationHistory()" value="next" class="button">Next</button>
                </div>
            </div>
            </form>



        </main>
    </body>
    <script defer>
        function addExperience() {
            window.location.href = "/addExperience";
        }

        function educationHistory() {
                window.location.href = "/educationHistory";
            }


    </script>